<div class="row gx-4 gx-lg-5 justify-content-center">
   <div class="col-md-10 col-lg-8 col-xl-7">                        
      <h1><%= @user.name %>のページ</h1>
 
      <p>メールアドレス: <%= @user.email %></p>
 
      <%= link_to "picture画面へ", pictures_path %>     
   </div>
</div>