.header {
  height: 50px;
  background-color: cadetblue;
}

.footer {
  height: 50px;
  background-color: cadetblue;
}

body {
  color: darkgray;
  font-size: 28px;
  background-color: bisque;
  height: 100%;
}

h1 {
  color: cadetblue;
  margin: 25px 0px;
}

th,
td {
  font-size: 20px;
  color: darkorchid;
}

/* html {
  font-size: 62.5%;
  height: 100%;
} */
