.header {
  height: 50px;
  background-color: cadetblue;
}

.footer {
  height: 50px;
  background-color: cadetblue;
}

body {
  color: darkgray;
  font-size: 28px;
  background-color: bisque;
  height: 100%;
}

h1 {
  color: cadetblue;
  margin: 25px 0px;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: block;
  clear:both;
}

/* html {
  font-size: 62.5%;
  height: 100%;
} */

.menu {
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu li{
  padding: 20px;
}

li {
  list-style: none;
}

.event {
  text-align: center;
  margin-top: 30px;
}

.side, .danger, .notice {
  text-align: center;
}